/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* start editing from here */
a {
  text-decoration: none;
}
.txt-rt {
  text-align: right;
} /* text align right */
.txt-lt {
  text-align: left;
} /* text align left */
.txt-center {
  text-align: center;
} /* text align center */
.float-rt {
  float: right;
} /* float right */
.float-lt {
  float: left;
} /* float left */
.clear {
  clear: both;
} /* clear float */
.pos-relative {
  position: relative;
} /* Position Relative */
.pos-absolute {
  position: absolute;
} /* Position Absolute */
.vertical-base {
  vertical-align: baseline;
} /* vertical align baseline */
.vertical-top {
  vertical-align: top;
} /* vertical align top */
nav.vertical ul li {
  display: block;
} /* vertical menu */
nav.horizontal ul li {
  display: inline-block;
} /* horizontal menu */
img {
  max-width: 100%;
}
/*end reset*/
/*--start-body--*/
body {
  background: #17739e;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
body h1 {
  text-align: center;
  font-size: 3.2em;
  color: #fff;
  margin: 1em 0em 0.5em 0em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
input,
button,
select,
textarea {
  font-family: "Open Sans", sans-serif !important;
}
body a,
form li,
input[type="submit"] {
  transition: 0.1s all;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
}
.travel-section {
  margin: 0 auto;
  text-align: center;
  width: 43%;
}
.main {
  margin: 0 auto 1em;
}
.reservation ul li {
  list-style: none;
  display: inline-block;
  float: left;
}
/******** SAP ************/
.booking-form {
  padding: 2em 4em;
}
.facts {
  background: #fff;
}
.sap_tabs {
  clear: both;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.form-control {
  height: 50px;
  padding: 10px 12px 10px 50px;
}
.book_date span {
  top: 2.4em;
  color: #999;
  left: 1em;
  z-index: 9999;
}
.book_date form {
  margin: -1em 0 0;
}
li.span1_of_3 a {
  width: 100% !important;
  color: #fff;
  font-size: 14px;
  padding: 0.8em 2em;
  outline: none;
  border: none;
  -webkit-appearance: none;
  background: #f67d08;
  font-family: "ABeeZee", sans-serif;
}
.book_date input[type="text"] {
  width: 71% !important;
  color: #9f9f9f;
  font-size: 14px;
  padding: 7px 45px 7px 20px;
  outline: none;
  border: none;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  background: url(../images/date.png) no-repeat 95% center #ffffff;
  margin-top: 1em;
}
.reservation h5 {
  font-size: 1.2em;
  color: #333;
  margin: 1.5em 0 1em 0;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.desti {
  float: none !important;
  width: 100% !important;
}
li.span1_of_1 {
  float: left;
  width: 44.7%;
}
li.span1_of_1.left {
  margin-left: 3.5em;
}
select {
  outline: none;
  font-size: 15px;
  color: #777;
  background: url(../images/arrow1.png) no-repeat 97% center #ffffff;
  width: 99%;
  padding: 11px 45px 12px 20px;
  color: #777 !important;
  -webkit-appearance: none;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #ddd;
  float: left;
}
.reservation ul {
  margin: 0;
  padding: 0;
}
#select-4 {
  outline: none;
  font-size: 13px;
  color: #777;
  background: url(../images/arrow1.png) no-repeat 93% center #ffffff;
  width: 100%;
  margin: 0px 0px 5px 0px;
  padding: 12px 8px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -webkit-appearance: none;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #ddd;
}
#select-5 {
  border: 1px solid #ddd;
  outline: none;
  font-size: 13px;
  color: #777;
  background: url(../images/arrow1.png) no-repeat 93% center #ffffff;
  width: 100%;
  margin: 0px 0px 5px 0px;
  padding: 12px 8px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -webkit-appearance: none;
  font-family: "Open Sans", sans-serif;
}
#select-6 {
  border: none;
  outline: none;
  font-size: 13px;
  color: #777;
  background: url(../images/arrow1.png) no-repeat 93% center #ffffff;
  width: 100%;
  margin: 0px 0px 5px 0px;
  padding: 12px 8px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -webkit-appearance: none;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #ddd;
}
.grid_4 {
  float: left;
  margin-right: 10px;
  width: 32%;
}
.grid_5 {
  float: left;
  margin-right: 10px;
  width: 32%;
}
.grid_6 {
  float: left;
  margin-right: 0px;
  width: 31%;
}
.grid_4.columns.one {
  width: 49%;
  margin-right: 6px;
}
.grid_5.columns.one {
  width: 49%;
  margin-right: 0px !important;
}
.date_btn {
  margin: 1em auto;
  text-align: center;
  padding-top: 1em;
}
.date_btn input[type="submit"] {
  outline: none;
  background: #a51508;
  font-size: 17px;
  color: #fff;
  padding: 10px 1em;
  border: none;
  font-family: "Montserrat", sans-serif;
  width: 23%;
  cursor: pointer;
  text-align: center;
  transition: 0.1s all;
  -webkit-transition: 0.1s all;
  -moz-transition: 0.1s all;
  -o-transition: 0.1s all;
  text-transform: uppercase;
  font-weight: bold;
}
.date_btn input[type="submit"]:hover,
li.span1_of_3 a:hover {
  background: #237f52;
  text-decoration: none;
}
.reservation h4 {
  font-size: 1.5em;
  color: #237f52;
  margin: 2em 0 1em 0;
  text-align: center;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
div#ui-datepicker-div {
  top: 859px !important;
  left: 759px !important;
}
.reservation-buttons {
  margin: 2em auto 1em;
  text-align: center;
}
.resp-tab-item {
  font-size: 1.2em;
  cursor: pointer;
  padding: 18px 0px;
  display: inline-block;
  list-style: none;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-appearance: none;
  background: #1e2021;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.resp-tab-item:hover {
  background: #bb1e10;
  text-shadow: none;
  color: #fff;
}
.resp-tab-active {
  background: #bb1e10;
  text-shadow: none;
  color: #fff;
}
h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
}
.resp-content-active,
.resp-accordion-active {
  display: block;
}
/*---------------*/
.copy-right {
  text-align: center;
  margin: 2em 0;
}
.copy-right p {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
}
.copy-right p a {
  color: #fff;
}
.copy-right p a:hover {
  text-decoration: underline;
}
/*--meadia quries start here--*/
@media (max-width: 1600px) {
  #select-5 {
    background: url(../images/arrow1.png) no-repeat 93% center #ffffff;
  }
}
@media (max-width: 1440px) {
  li.span1_of_1.left {
    margin-left: 2.8em;
  }
  div#ui-datepicker-div {
    top: 810px !important;
    left: 638px !important;
  }
}
@media (max-width: 1366px) {
  li.span1_of_1 {
    float: left;
    width: 44%;
  }
  div#ui-datepicker-div {
    top: 59% !important;
  }
  #select-6 {
    background: url(../images/arrow1.png) no-repeat 93% center #ffffff;
    width: 98%;
  }
  .travel-section {
    margin: 0 auto;
    text-align: center;
    width: 42%;
  }
}
@media (max-width: 1280px) {
  .book_date input[type="text"] {
    width: 68% !important;
  }
  div#ui-datepicker-div {
    top: 62% !important;
    left: 438px !important;
  }
}
@media (max-width: 1024px) {
  .book_date input[type="text"] {
    width: 68% !important;
  }
  .booking-form {
    padding: 1em 1.5em;
  }
  .reservation h4 {
    font-size: 1.4em;
    margin: 1em 0 0.7em 0;
  }
  .reservation h5 {
    font-size: 1em;
    margin: 1em 0 1em 0;
  }
  body h1 {
    font-size: 3em;
  }
  .resp-tab-item {
    font-size: 1em;
    padding: 14px 0px;
  }
  li.span1_of_1.left {
    margin-left: 1.7em;
  }
  div#ui-datepicker-div {
    top: 62% !important;
    left: 438px !important;
  }
  .grid_4 {
    float: left;
    margin-right: 7px;
    width: 32%;
  }
  .date_btn input[type="submit"] {
    font-size: 16px;
    padding: 10px 1em;
    border: none;
    width: 31%;
  }
}
@media (max-width: 991px) {
  .travel-section {
    margin: 0 auto;
    text-align: center;
    width: 53%;
  }
  .book_date input[type="text"] {
    width: 78% !important;
  }
}
@media (max-width: 800px) {
  .copy-right {
    text-align: center;
    margin: 2em 0 12em 0em;
  }
  .ui-datepicker {
    width: 28.7% !important;
  }
  li.span1_of_1.left {
    margin-left: 2.5em;
  }
  .book_date input[type="text"] {
    width: 74% !important;
  }
  body h1 {
    font-size: 2.8em;
  }
}
@media (max-width: 768px) {
  .travel-section {
    margin: 0 auto;
    text-align: center;
    width: 76%;
  }
}
@media (max-width: 736px) {
}
@media (max-width: 667px) {
  .grid_4 {
    float: left;
    margin-right: 10px;
    width: 31%;
  }
  .copy-right p {
    font-size: 0.9em;
  }
  body h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 640px) {
  .book_date input[type="text"] {
    width: 59% !important;
    padding: 4px 44px 4px 20px;
  }
  .copy-right p {
    font-size: 0.9em;
  }
  .travel-section {
    margin: 0 auto;
    text-align: center;
    width: 66%;
  }
  .copy-right {
    margin: 1em 0 1em 0em;
  }
}
@media (max-width: 600px) {
  body h1 {
    text-align: center;
    font-size: 2.7em;
    margin: 2em 0em 1em 0em;
  }
  li.span1_of_1 {
    float: left;
    width: 98.3%;
  }
  .grid_4 {
    float: left;
    margin-right: 10px;
    width: 100%;
  }

  li.span1_of_1.left {
    margin-left: 0;
  }
  div#ui-datepicker-div {
    top: 54% !important;
  }
  .book_date span.glyphicon-calendar {
    left: 26.5em;
    top: 2.5em;
    z-index: 99;
  }
  .grid_5 {
    float: left;
    margin-right: 10px;
    width: 50%;
  }
  .grid_6 {
    float: left;
    margin-right: 0px;
    width: 46%;
  }
  .reservation-buttons ul li {
    display: block;
    list-style: none;
    margin: 1em 0;
  }

  .book_date input[type="text"] {
    width: 81% !important;
    padding: 4px 44px 4px 20px;
  }
}
@media (max-width: 568px) {
  .travel-section {
    margin: 0 auto;
    text-align: center;
    width: 85%;
  }
  .book_date input[type="text"] {
    width: 78% !important;
    padding: 4px 44px 4px 20px;
  }

  #select-4 {
    outline: none;
    font-size: 13px;
    color: #777;
    background: url(../images/arrow1.png) no-repeat 93% center #ffffff;
    width: 100%;
  }
}
@media (max-width: 480px) {
  body h1 {
    font-size: 2.2em;
    margin: 1em 0em 0.5em 0em;
  }
  li.span1_of_1 {
    float: left;
    width: 98.3%;
  }
  .grid_4 {
    float: left;
    margin-right: 10px;
    width: 100%;
  }

  li.span1_of_1.left {
    margin-left: 0;
  }
  div#ui-datepicker-div {
    top: 54% !important;
  }
  .grid_5 {
    float: left;
    margin-right: 10px;
    width: 50%;
  }
  .grid_6 {
    float: left;
    margin-right: 0px;
    width: 46%;
  }
  .reservation-buttons ul li {
    display: block;
    list-style: none;
    margin: 1em 0;
  }
  .reservation h4 {
    font-size: 1.4em;
  }
  .flexslider .slides img {
    width: 100%;
  }
  .copy-right p {
    font-size: 0.85em;
  }
  .reservation h5 {
    font-size: 0.9em;
    margin: 0.5em 0 0.5em 0;
  }
  .book_date input[type="text"] {
    width: 81% !important;
    padding: 4px 44px 4px 20px;
  }
  #select-4 {
    outline: none;
    font-size: 13px;
    color: #777;
    background: url(../images/arrow1.png) no-repeat 93% center #ffffff;
    width: 99%;
  }
  .date_btn {
    margin: 0.5em auto;
    padding-top: 0em;
  }
  .resp-tab-item {
    font-size: 0.9em;
    padding: 10px 0px;
  }
}
@media (max-width: 414px) {
  .grid_5 {
    float: left;
    margin-right: 0;
    width: 100%;
  }
  .grid_6 {
    float: left;
    margin-right: 0px;
    width: 100%;
  }
  .book_date span.glyphicon-calendar {
    left: 17.5em;
    top: 2.5em;
    z-index: 99;
  }
  .copy-right p {
    font-size: 0.85em;
    padding: 0 5px;
    line-height: 1.9em;
  }

  .reservation h4 {
    font-size: 1.3em;
  }
  ul.navig li p {
    font-size: 0.7em;
  }
  body h1 {
    font-size: 2em;
    margin: 1em 0em 0.5em 0em;
  }
  .book_date input[type="text"] {
    width: 78% !important;
    padding: 4px 44px 4px 20px;
  }
}
@media (max-width: 384px) {
  .book_date input[type="text"] {
    width: 75% !important;
    padding: 4px 44px 4px 20px;
  }
  .date_btn input[type="submit"] {
    padding: 7px 1em;
    width: 47%;
  }
  .resp-tab-item {
    font-size: 0.85em;
    padding: 10px 0px;
  }
}
@media (max-width: 375px) {
  .main {
    width: 100%;
    margin: 0 auto 1em;
  }
  .book_date input[type="text"] {
    width: 73.5% !important;
  }

  .book_date span.glyphicon-calendar {
    left: 14.5em;
    top: 2.5em;
    z-index: 99;
  }
  div#ui-datepicker-div {
    top: 45% !important;
  }
  .travel-section {
    margin: 0 auto;
    text-align: center;
    width: 96%;
  }
}
@media (max-width: 320px) {
  .main {
    width: 100%;
    margin: 0 auto 1em;
  }
  .book_date input[type="text"] {
    width: 73.5% !important;
  }

  .book_date span.glyphicon-calendar {
    left: 14.5em;
    top: 2.5em;
    z-index: 99;
  }
  div#ui-datepicker-div {
    top: 45% !important;
  }
  .travel-section {
    margin: 0 auto;
    text-align: center;
    width: 96%;
  }
}
